/*styles for both Anni Albers layouts*/

/*by default, let's lay out the first index.html file*/

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

}

h1 {
    font-size: 3rem;

}

h2 {
    font-size: 0.75rem;
    font-style: italic;

}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    
}

p.callout {
    font-style: italic;
    line-height: 1rem;
    float: right;
    
}

#row1 p,
#row3 p {
    margin-left: calc(100% * 2 / 6);
}