/*styles for both Anni Albers layouts*/

/*by default, let's lay out the first index.html file*/

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

}

h1 {
    font-size: 3rem;

}

h2 {
    font-size: 0.75rem;
    font-style: italic;

}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    
}

p.callout {
    width: 40%;
    margin-top: 0;
    font-style: italic;
    line-height: 2.2rem;
    float: right;
    text-align: right

}

#row1 p,
#row3 p,
#row5 p,
#row7 p,
#row9 p,
#row11 p {
    margin-left: calc(100% * 1 / 6);
}

/* ************************************ */
/* CSS for index2 */
/* ************************************ */

/* inherit the baseline main code, above, and add to it*/
#secondLayout main{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(7, auto);
    Grid-template-areas:
        'header header header header header header'
        '. p1 p1 . p2 p2'
        '. p3 p3 . p4 p4'
        '. p5 p5 . p6 p6'
        '. p7 p7 . p8 p8'
        '. p9 p9 . p10 p10'
        '. p11 p11 . b1 b1'
}

#secondLayout #headerRow { grid-area: header; }
#secondLayout #para1 { grid-area: p1; }
#secondLayout #para2 { grid-area: p2; }
#secondLayout #para3 { grid-area: p3; }
#secondLayout #para4 { grid-area: p4; }
#secondLayout #para5 { grid-area: p5; }
#secondLayout #para6 { grid-area: p6; }
#secondLayout #para7 { grid-area: p7; }
#secondLayout #para8 { grid-area: p8; }
#secondLayout #para9 { grid-area: p9; }
#secondLayout #para10 { grid-area: p10; }
#secondLayout #para11 { grid-area: p11; }
#secondLayout #callout1 { grid-area: c1; }
#secondLayout #callout2 { grid-area: c2; }
#secondLayout #callout3 { grid-area: c3; }
#secondLayout #callout4 { grid-area: c4; }
#secondLayout #Bio { grid-area: b1; }

#secondlayout p{
    width: 100%
}