/* mobile-first design for Pacific Rhododendron layout */

* {
    box-sizing:border-box;

}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;

}

#bgFlower1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image:url("bgflower-1.jpeg");
    background-size: cover;
}

#flowerTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#flowerTitle h1 {
    position: absolute;
    bottom: 0;
    left: 0;
}