/* mobile-first design for Pacific Rhododendron layout */

* {
    box-sizing:border-box;
    font-family: arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#bgFlower1 {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-image:url("bgflower-1.jpeg");
    background-size: cover;
    background-position: center center;
}

#flowerTitle {
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

#flowerTitle h1 {
    position: absolute;
    bottom: 0;
    left: 4vw;
    color:floralwhite;
    font-size: 2.5em;
    width: calc(100vw - 2em);
}

#info {
    position: absolute;
    z-index: 2;
    padding: 4vw;
    color:floralwhite;
    background-color: darkslategray;
    width: 100vw;
}

.scienceName {
    font-style: italic;
}

#infoSource {
    opacity: 50%;
    color: floralwhite;
}

#imageSource {
    position: absolute;
    z-index: 2;
    right: 4vw;
    bottom: 0;
    opacity: 50%;
    color: floralwhite;
}

@media screen and (orientation: landscape) {
    
    #bgFlower1 {
        position: fixed;
        width: 50vw;
        left: 50vw;
    }

    #flowerTitle {
        width: 50vw;
        background-color: darkslategray;
    }

    #flowerTitle h1{
        bottom: 0;
        width: 45vw;
    }

    #info {
    position: absolute;
    width: 50vw;
    color: floralwhite;
    background-color: darkslategray;
    }

    #imageSource {
    position: fixed;
    z-index: 2;
    right: 4vw;
    bottom: 0;
    opacity: 75%;
    color: floralwhite;
}

}