/* Portrait code goes here */

    .imagePH{
		position: absolute;
        background-color: lightgray;
		z-index: 3;
        width: 45vw;
        height: 45vw;
        margin: auto;
        text-align: center;
        align-content: center;
		top: 27vh;
		right: 5vw;
		
    }

    .contentBox{
        position: absolute;
        z-index: 2;
        width: 95vw;
        height: 80vw;
		top: 28vw;
		border-style: solid;
        border-width: 3px;
        border-color: #4C2719;
		/* color name on Coolors is "Espresso" */
		background-color: #F4F3EE;
		/* Color name on Coolors is "Parchment" */
		
    }

    p{
        font-size: 12;
        font-family: Berkshire Swash, Arial, sans-serif;
    }

    

    /* Shape code goes here */

    .backShaft{
        position: absolute;
		background-color: #C2A878;
		/* Color name on Coolors is "Soft Fawn" */
		z-index: 1;
		width: 10vw;
		height: 16vw;
		top: 7vh;
		left: 45vw;
    }

	.backArrow{
		position: absolute;
		width: 0;
		height: 0;
		top: 1vw;
		left: 43vw;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-bottom: 50px solid #C2A878;
	    /* Color name on Coolors is "Soft Fawn" */
	}

	.forwardShaftPrimary{
        position: absolute;
		background-color: #C2A878;
		/* Color name on Coolors is "Soft Fawn" */
		z-index: 1;
		width: 10vw;
		height: 26vw;
		bottom: 20vh;
		left: 45vw;
		
    }

	.forwardJoint{
        position: absolute;
		z-index: 1;
		height: 25vw;
		width: 45vw;
		background-color: #C2A878;
        /* Color name on Coolors is "Soft Fawn" */
		border-radius: 50%;
		bottom: 10vh;
		left: 27vw;
    }

    .forwardJointInner{
        position: absolute;
		z-index: 2;
		height: 25vw;
		width: 25vw;
		background-color: #F4F3EE;
		/* Color name on Coolors is "Parchment" */
		border-radius: 50%;
		margin: auto;
		bottom: 7vh;
		left: 37vw;
    }

	.forwardArrowA{
	    position: absolute;
	    z-index: 3;
	    width: 0;
	    height: 0;
	    border-left: 25px solid transparent;
	    border-right: 25px solid transparent;
	    border-top: 50px solid #C2A878;
        /* Color name on Coolors is "Soft Fawn" */
	    bottom: 1vw;
	    left: 25vw;
	}

	.forwardShaftA{
        position: absolute;
		background-color: #C2A878;
		/* Color name on Coolors is "Soft Fawn" */
		width: 45vw;
		height: 16vw;
		bottom: 8vh;
		left: 27vw;
    }

	.forwardArrowB{
		position: absolute;
		z-index: 3;
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 50px solid #C2A878;
	    /* Color name on Coolors is "Soft Fawn" */
		right: 26vw;
		bottom: 1vw;
    }

	.forwardShaftB{
        position: absolute;
		z-index: 2;
		background-color: #F4F3EE;
		/* Color name on Coolors is "Parchment" */
		width: 25vw;
		height: 17vw;
		bottom: 1vh;
		left: 37vw;
    }

        /* Titlecard code */
        #titleHead{
            text-align: center;
            margin-top: 25vh;
            margin-right: 10vw;
            margin-left: 10vw;

        }
        /* Introduction code */
        #introText{
            position: absolute;
            text-align: center;
			width: 40vw;
			top: 20vh;
			left: 5vw;
		
        }

        /* Content code */
        .choiceContent{
            position: absolute;
            z-index: 3;
            text-align: center;
			width: 40vw;
			top: 20vh;
			left: 5vw;
		
        }

        /* Conclusion code */
        .conclusionContent{
            text-align: center;
            margin-top: 15vh;
            margin-right: 10vw;
            margin-left: 10vw;
        }

/* Responsive Landscape starts here */
@media screen and (orientation: landscape) {

    /* Responsive shape code goes here */

        .imagePH{
		    position: absolute;
            background-color: lightgray;
		    z-index: 3;
            width: 45vh;
            height: 45vh;
            margin: auto;
            text-align: center;
            align-content: center;
		    top: 27vh;
		    right: 25vw;
		
	    }

        .contentBox{
            position: absolute;
            z-index: 2;
            width: 65vw;
            height: 80vh;
		    top: 5vw;
		    left: 15vw;
		    border-style: solid;
            border-width: 3px;
            border-color: #4C2719;
		    /* color name on Coolors is "Espresso" */
		    background-color: #F4F3EE;
		    /* Color name on Coolors is "Parchment" */
		
	    }
	

        .backShaft{
            position: absolute;
		    background-color: #C2A878;
		    /* Color name on Coolors is "Soft Fawn" */
		    z-index: 1;
		    width: 16vw;
		    height: 4vw;
		    top: 48vh;
		    left: 10vw;
        }

	    .backArrow{
			Position: absolute;
            width: 5vw;
	        height: 0;
	        border-top: 40px solid transparent;
	        border-right: 40px solid #C2A878;
            /* Color name on Coolors is "Soft Fawn" */
	        border-bottom: 40px solid transparent;
			top: 46vh;
			left: 0vw;
        }

	    .forwardShaftPrimary{
            position: absolute;
		    background-color: #C2A878;
		    /* Color name on Coolors is "Soft Fawn" */
		    z-index: 1;
		    width: 16vw;
		    height: 4vw;
		    top: 48vh;
		    left: 70vw;
        }

	    .forwardJoint{
            position: absolute;
		    z-index: 1;
		    height: 10vw;
		    width: 10vw;
		    background-color: #C2A878;
            /* Color name on Coolors is "Soft Fawn" */
		    border-radius: 50%;
            top: 43vh;
		    left: 84vw;
        }

        .forwardJointInner{
            position: absolute;
		    z-index: 2;
		    height: 5vw;
		    width: 5vw;
		    background-color: #F4F3EE;
		    /* Color name on Coolors is "Parchment" */
		    border-radius: 50%;
		    top: 8vw;
			left: 87vw;
        }

	    .forwardArrowA{
            width: 0;
	        height: 0;
	        border-top: 25px solid transparent;
	        border-left: 50px solid #C2A878;
            /* Color name on Coolors is "Soft Fawn" */
	        border-bottom: 25px solid transparent;
	        top: 42vh;
			left: 95vw;
		}

	    .forwardShaftA{
            position: absolute;
		    background-color: #C2A878;
		    /* Color name on Coolors is "Soft Fawn" */
		    width: 7vw;
		    height: 10vw;
		    top: 43vh;
		    left: 89vw;
        }

	    .forwardArrowB{
            width: 0;
	        height: 0;
	        border-top: 25px solid transparent;
	        border-left: 50px solid #C2A878;
            /* Color name on Coolors is "Soft Fawn" */
	        border-bottom: 25px solid transparent;
	        top: 54vh;
			left: 95vw;
		}

	    .forwardShaftB{
            position: absolute;
		    z-index: 2;
		    background-color: #F4F3EE;
		    /* Color name on Coolors is "Parchment" */
		    width: 8vw;
		    height: 5vw;
		    top: 47vh;
		    left: 89vw;
        }

        /* Titlecard code */

        #titleHead{
            text-align: center;
            margin-top: 25vh;
            margin-right: 10vw;
            margin-left: 10vw;

        }

        /* Introduction code */

        #introText{
            position: absolute;
            text-align: center;
			width: 40vw;
			top: 20vh;
			left: 5vw;
		
        }

        /* Content code */

        .choiceContent{
            position: absolute;
            z-index: 3;
            text-align: center;
			font-size: x-large;
			width: 25vw;
			top: 30vh;
			left: 18vw;
		
        }

        /* Conclusion code */

        .conclusionContent{
            text-align: center;
            margin-top: 15vh;
            margin-right: 10vw;
            margin-left: 10vw;
        }

}
/* Global code goes here */

    body{
        background-color: #F4F3EE;
        /* color name on Coolors is "Parchment" */
        color: #4C2719;
        /* color name on Coolors is "Espresso" */
        
    }
    
    #titleHead{
        font-family: Birthstone, Arial, sans-serif;

    }

