/* Portrait code goes here */

    /* Titlecard code */
    #titleHead{
        text-align: center;
        margin-top: 25vh;
        margin-right: 10vw;
        margin-left: 10vw;

    }
    /* Introduction code */
    #introText{
        text-align: center;
        margin-top: 20vh;
        margin-right: 10vw;
        margin-left: 10vw;
    }

    /* Content code */
    .choiceContent{
        text-align: center;
        margin-top: 20vh;
        margin-right: 10vw;
        margin-left: 10vw;
    }

    /* Conclusion code */
    .conclusionContent{
        text-align: center;
        margin-top: 15vh;
        margin-right: 10vw;
        margin-left: 10vw;
    }

    .imagePH{
        background-color: lightgray;
        width: 100px;
        height: 100px;
    }

/* Responsive Landscape starts here */

    /* Titlecard code */

    /* Introduction code */

    /* Content code */

    /* Conclusion code */

/* Global code goes here */

    
    body{
        background-color: #F4F3EE;
        /* color name on Coolors is "Parchment" */
        color: #4C2719;
        /* color name on Coolors is "Espresso" */
        
    }
    
    #titleHead{
        font-family: Birthstone, Arial, sans-serif;

    }

    p{
        font-size: large;
        font-family: Berkshire Swash, Arial, sans-serif;
    }