/* Portrait code goes here */

    .imagePH{
        background-color: lightgray;
        width: 230px;
        height: 230px;
        margin: auto;
        text-align: center;
        align-content: center;
    }
    /* Shape code goes here */
    .backShaft{
        
    }

	.backArrow{

    }

	.forwardShaftPrimary{
        position: relative;
		background-color: #C2A878;
		/* Color name on Coolors is "Soft Fawn" */
		z-index: 1;
		width: 50px;
		height: 100px;
		margin: auto;
		bottom: 5vh;
		
    }

	.forwardJoint{
        position: relative;
		height: 70px;
		width: 150px;
		background-color: #C2A878;
        /* Color name on Coolors is "Soft Fawn" */
		border-radius: 50%;
		margin: auto;
		bottom: 12vh;
    }

    .forwardJointInner{
        
    }

	.forwardArrowA{

    }

	.forwardShaftA{
        position: relative;
		background-color: #C2A878;
		/* Color name on Coolors is "Soft Fawn" */
		width: 150px;
		height: 100px;
		bottom: 20vh;
		left:28vw;
    }

	.forwardArrowB{

    }

	.forwardShaftB{
        position: relative;
		z-index: 2;
		background-color: #F4F3EE;
		/* Color name on Coolors is "Parchment" */
		width: 50px;
		height: 100px;
		margin: auto;
		bottom: 37vh;
		
    }

        /* Titlecard code */
        #titleHead{
            text-align: center;
            margin-top: 25vh;
            margin-right: 10vw;
            margin-left: 10vw;

        }
        /* Introduction code */
        #introText{
            text-align: center;
            margin-top: 20vh;
            margin-right: 10vw;
            margin-left: 10vw;
        }

        /* Content code */
        .choiceContent{
            text-align: center;
            margin-top: 20vh;
            margin-right: 10vw;
            margin-left: 10vw;
        }

        /* Conclusion code */
        .conclusionContent{
            text-align: center;
            margin-top: 15vh;
            margin-right: 10vw;
            margin-left: 10vw;
        }

/* Responsive Landscape starts here */
    
    /* Responsive shape code goes here */
    .backShaft{

    }

	.backArrow{

    }

	.forwardShaftPrimary{

    }

	.forwardJoint{

    }

	.forwardArrowA{

    }

	.forwardShaftA{

    }

	.forwardArrowB{

    }

	.forwardShaftB{
        
    }
        /* Titlecard code */

        /* Introduction code */

        /* Content code */

        /* Conclusion code */

/* Global code goes here */

    
    body{
        background-color: #F4F3EE;
        /* color name on Coolors is "Parchment" */
        color: #4C2719;
        /* color name on Coolors is "Espresso" */
        
    }
    
    #titleHead{
        font-family: Birthstone, Arial, sans-serif;

    }

    p{
        font-size: large;
        font-family: Berkshire Swash, Arial, sans-serif;
    }

