/* Portrait starts here */



/* Responsive Landscape starts here */
    @media screen and (orientation: landscape) {

        h1 {
            position: sticky;
            left: 0vw;
            width: 100vw;
            text-align: center;

        }

        #frame1 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        top: 20vh;
        left: 30vw;

        }

        #frame2 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        padding-right: 30vw;
        top: 20vh;
        left: 130vw;

        }

        #frame3 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        padding-right: 30vw;
        top: 20vh;
        left: 230vw;

        }

        #frame4 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        padding-right: 30vw;
        top: 20vh;
        left: 330vw;

        }

        #frame5 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        padding-right: 30vw;
        top: 20vh;
        left: 430vw;

        }

        #frame6 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        padding-right: 30vw;
        top: 20vh;
        left: 530vw;

        }

    }