/* Universal css starts here */

body {
    color: bisque;
    background-color: darkslategray;

}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Portrait starts here */

/* portrait text css starts here */

#frame1 {
    position: absolute;
    z-index: 3;
    text-align: center;
    margin: auto;
    width: 60vw;
    top: 20vh;
    left: 20vw;

}

#frame2 {
    position: absolute;
    z-index: 3;
    text-align: center;
    margin: auto;
    width: 60vw;
    top: 120vh;
    left: 20vw;

}

#frame3 {
    position: absolute;
    z-index: 3;
    text-align: center;
    margin: auto;
    width: 65vw;
    top: 220vh;
    left: 19vw;

}

#frame4 {
    position: absolute;
    z-index: 3;
    text-align: center;
    margin: auto;
    width: 60vw;
    top: 320vh;
    left: 20vw;

}

#frame5 {
    position: absolute;
    z-index: 3;
    text-align: center;
    margin: auto;
    width: 60vw;
    top: 420vh;
    left: 20vw;

}

#frame6 {
    position: absolute;
    z-index: 3;
    text-align: center;
    margin: auto;
    width: 60vw;
    top: 520vh;
    left: 20vw;
    padding-bottom: 50vh

}

/* portrait image css starts here */

#image1 {
    position: absolute;
    background-color: lightgray;
    z-index: 3;
    width: 70vw;
    height: 50vw;
    margin: auto;
    text-align: center;
    align-content: center;
    top: 60vh;
    right: 15vw;

}

#image2 {
    position: absolute;
    background-color: lightgray;
    z-index: 3;
    width: 70vw;
    height: 50vw;
    margin: auto;
    text-align: center;
    align-content: center;
    top: 160vh;
    right: 15vw;

}

#image3 {
    position: absolute;
    background-color: lightgray;
    z-index: 3;
    width: 70vw;
    height: 50vw;
    margin: auto;
    text-align: center;
    align-content: center;
    top: 260vh;
    right: 15vw;

}

#image4 {
    position: absolute;
    background-color: lightgray;
    z-index: 3;
    width: 70vw;
    height: 50vw;
    margin: auto;
    text-align: center;
    align-content: center;
    top: 360vh;
    right: 15vw;

}

#image5 {
    position: absolute;
    background-color: lightgray;
    z-index: 3;
    width: 70vw;
    height: 50vw;
    margin: auto;
    text-align: center;
    align-content: center;
    top: 460vh;
    right: 15vw;

}

#image6 {
    position: absolute;
    background-color: lightgray;
    z-index: 3;
    width: 70vw;
    height: 50vw;
    margin: auto;
    text-align: center;
    align-content: center;
    top: 560vh;
    right: 15vw;

}

/* image1 attribution here. All other images are under CC0 license, don't require attribution. */

#attribution1 {
    position: absolute;
    z-index: 3;
    color: bisque;
    font-size: 10pt;
    text-align: center;
    margin: auto;
    width: 100vw;
    bottom: 0vh;
}

/* Responsive Landscape starts here */
@media screen and (orientation: landscape) {


    /* Landscape text css starts here */

    #frame1 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        top: 20vh;
        left: 30vw;

    }

    #frame2 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        padding-right: 30vw;
        top: 20vh;
        left: 132vw;

    }

    #frame3 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        padding-right: 30vw;
        top: 20vh;
        left: 230vw;

    }

    #frame4 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        padding-right: 30vw;
        top: 20vh;
        left: 330vw;

    }

    #frame5 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        padding-right: 30vw;
        top: 20vh;
        left: 430vw;

    }

    #frame6 {
        font-size: large;
        position: absolute;
        text-align: center;
        width: 40vw;
        padding-right: 30vw;
        top: 20vh;
        left: 530vw;

    }

    /* landscape image css starts here */

    #image1 {
        position: absolute;
        background-color: lightgray;
        z-index: 3;
        width: 45vw;
        height: 30vw;
        top: 37vh;
        left: 15vw;
    }

    #image2 {
        position: absolute;
        background-color: lightgray;
        z-index: 3;
        width: 40vw;
        height: 30vw;
        top: 37vh;
        left: 132vw;
    }

    #image3 {
        position: absolute;
        background-color: lightgray;
        z-index: 3;
        width: 40vw;
        height: 30vw;
        top: 37vh;
        left: 230vw;
    }

    #image4 {
        position: absolute;
        background-color: lightgray;
        z-index: 3;
        width: 40vw;
        height: 30vw;
        top: 37vh;
        left: 330vw;
    }

    #image5 {
        position: absolute;
        background-color: lightgray;
        z-index: 3;
        width: 40vw;
        height: 30vw;
        top: 37vh;
        left: 430vw;
    }

    #image6 {
        position: absolute;
        background-color: lightgray;
        z-index: 3;
        width: 40vw;
        height: 30vw;
        top: 37vh;
        left: 530vw;
    }

}