* {
    box-sizing:border-box;
    font-family: arial, sans-serif;
}

@media screen and (orientation: landscape) {
    #main{
        display: grid;
        column-gap: 10vw;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, auto);
        Grid-template-areas:
        '. RT RT RT RT RT RT .'
        '. TH TH IH IH PH PH .'
        '. TL TL IL IL PL PL .'
        '. IMG IMG IL IL PL PL .'
        '. IMG IMG IL IL PL PL .'
        '. . . . . SH SH .'
        '. . . . . SL SL .'
        '. . . . . SL SL .'
    }

    #recipeTitle{ grid-area: RT; }
    #toolsHead { grid-area: TH; }
    #toolsList { grid-area: TL; }
    #img {grid-area: IMG;}
    #ingredientsHead { grid-area: IH; }
    #ingredientsList { grid-area: IL; }
    #pastaHead { grid-area: PH; }
    #pastaList { grid-area: PL; }
    #sausageHead { grid-area: SH;}
    #sausageList { grid-area: SL; }

    #p {
        width: 100vw;
    }
}